body {
}

.container {
  text-align: center;
  height: 85vmin;
  align-content: center;
}

.title3 {
  color: white;
  font-size: 6vmin;
}

.decoBar3 {
  background-color: #f9b0c3;
  height: 1vmin;
  border-radius: 10vmin;
}
.bar3 {
  width: 85vmin;
  background-color: #f9b0c3;
  height: 15vmin;
  margin: 10vmin 50vmin auto;
  //align-items: center;
  text-align: left;
  border-radius: 2vmin;
}

.boxText3 {
  align-content: center;
  font-size: 3vmin;
  //align-items: center;
}
