<div class="heading">
  <div class="backbutton">
    <button class="back" (click)="backactivities()" clickable>back</button>
  </div>
  <div class="companyName">
    <p class="companyNameText">Company Name</p>
  </div>
  <div class="savebutton">
    <button class="save" (click)="saveactivitytoitinerary()" clickable>save</button>
  </div>
</div>

<div>
  <div class="aboutSection">
    <p>about</p>
  </div>
  <div class="imagesSection">
    <p>imAges</p>
  </div>
</div>
<div>
  <div class="ratingSection">
    <p>rating</p>
  </div>

  <div class="profileSection">
    <p>profile</p>
  </div>
  <div class="contactDetailsSection">
    <p>contact details</p>
  </div>
</div>

<div>
  <div class="nextCompanyButton">
    <button>next company</button>
  </div>
</div>
