<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="decorations.component.scss" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <!--head end-->

  <body class="white-background">
    <div>
      <h1 class="decor-title">DECORATIONS</h1>
    </div>

    <div class="page-container">
      <div class="search-container">
        <form class="search-bar" action="/search" method="GET">
          <input type="text" id="search" name="q" placeholder="Search for decorations..." />
          <button class="search-button" type="submit">
            <img src="content/images/decorationsimages/magnifyingglass.png" alt="magnifying glass" />
          </button>
        </form>
        <!--search bar end-->
      </div>
      <!--search container end-->
      <div>
        <h2 class="book-title">Book with a company</h2>
      </div>
      <!--book title end-->
      <div>
        <h5 class="book-sub">These companies offer services that you may like for your event!</h5>
      </div>
      <!-- book sub end-->
      <div class="companies">
        <div class="previous-button">
          <span><img src="content/images/decorationsimages/previousbutton.png" /></span>
        </div>
        <!--previous button end-->
        <div class="company-slider">
          <div>
            <div class="pink-box">
              <span><img src="content/images/decorationsimages/elite.png" alt="winter event" /></span>
            </div>
            <div class="pink-box">
              <span><img src="content/images/decorationsimages/oasis.png" alt="gala" /></span>
            </div>
            <div class="pink-box">
              <span><img src="content/images/decorationsimages/elegant.png" alt="masquerade" /></span>
            </div>
            <div class="pink-box">
              <span><img src="content/images/decorationsimages/soiree.png" alt="summer event" /></span>
            </div>
            <div class="pink-box">
              <span><img src="content/images/decorationsimages/instyle.png" alt="new years event" /></span>
            </div>
            <div class="pink-box">
              <span><img src="content/images/decorationsimages/decorde.png" alt="bridgerton" /></span>
            </div>
          </div>
          <!--div end- makes it look like a grid instead of in line-->
          <div>
            <div class="pink-box">
              <span><img src="content/images/decorationsimages/elite.png" alt="winter event" /></span>
            </div>
            <div class="pink-box">
              <span><img src="content/images/decorationsimages/oasis.png" alt="gala" /></span>
            </div>
            <div class="pink-box">
              <span><img src="content/images/decorationsimages/elegant.png" alt="masquerade" /></span>
            </div>
            <div class="pink-box">
              <span><img src="content/images/decorationsimages/soiree.png" alt="summer event" /></span>
            </div>
            <div class="pink-box">
              <span><img src="content/images/decorationsimages/instyle.png" alt="new years event" /></span>
            </div>
            <div class="pink-box">
              <span><img src="content/images/decorationsimages/decorde.png" alt="bridgerton" /></span>
            </div>
          </div>
          <!--div end- makes it look like a grid instead of in line-->
        </div>
        <!--company slider end-->
        <div class="next-button">
          <span><img src="content/images/decorationsimages/nextbutton.png" /></span>
        </div>
      </div>
      <!--companies end-->
    </div>
    <!--page container end-->
  </body>
  <!--body end-->
</html>
<!--html end-->
<!---->
