<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="white-background">
    <div>
      <h1 class="decor-title">DECORATIONS</h1>
    </div>
    <div class="page-container">
      <div class="search-container">
        <form class="search-bar" action="/search" method="GET">
          <input type="text" id="search" name="q" placeholder="Search for decorations..." />
          <button class="search-button" type="submit"><img src="app/decorations/magnifying-glass.svg" alt="magnifying glass" /></button>
        </form>
      </div>
      <div>
        <h2 class="book-title">Book with a company</h2>
      </div>
    </div>
  </body>
</html>
