.decor-title {
  color: white;
  font-size: 80px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: #172c49;
  border-radius: 20px;
  text-shadow: 5px 5px 0px #fccd3f;
}
.white-background {
  background-color: white;
}
.page-container {
  background-color: white;
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
}
.search-bar {
  background: #e0dffd;
  border-radius: 25px;
  width: 1900px;
  align-items: center;
  display: flex;
  padding: 5px;
}
.search-bar input {
  border-color: transparent;
  background-color: transparent;
  outline: none;
  padding-left: 15px;
  width: 100%;
  max-width: 1900px;
}
.search-bar button {
  background-color: transparent;
  outline: none;
  border-color: transparent;
}
.search-bar button img {
  height: 25px;
  padding-right: 3px;
}
::placeholder {
  color: rgba(23, 44, 73, 0.61);
  font-size: 15px;
}
.companies {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 20px;
}
.company-slider {
  height: 560px;
  width: 900px;
  display: flex;
  overflow-x: scroll;
}
.company-slider div {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 50px;
}
.company-slider div span img {
  border-radius: 50px;
  box-shadow: 10px 10px 0px #fccd3f;
}
