<body>
  <div class="container">
    <div class="title2">
      <span class="titleText">Activity</span>
      <div class="decoBar2"></div>
    </div>
    <div class="bar2">
      <span class="boxText2">Price: From</span><input type="text" class="inputStyle" /> <span class="boxText2">to</span
      ><input type="text" class="inputStyle" />
    </div>
    <div class="bar2"><span class="boxText2">Required areas:</span><input type="text" class="inputStyle" /></div>
    <div class="bar2"><span class="boxText2">Sit use:</span><input type="text" class="inputStyle inputSitUse" /></div>
    <div class="bar2">
      <span class="boxText2">Time: From</span><input type="text" class="inputStyle" /> <span class="boxText2">to</span
      ><input type="text" class="inputStyle" />
      <div class="searchButton" (click)="searchResult()">
        <span class="search">Search</span>
      </div>
    </div>
  </div>
</body>
