.dark-mode {
  color: white;
  background-color: black;
}

.dark-mode-menu {
  color: white;
  background-color: #46467a !important; //dont know why this wont overwrite, i just pray it has no future problems
}

.dark-mode-container {
  background-color: #7769c6 !important;
}

.filter-menu {
  width: 30%;
  height: 10%;
  float: left;
}

.caterers {
  width: 70%;
  float: left;
}

.menu {
  float: left;
}
.miniMenu {
  margin-bottom: 10px;
  width: 330px;
  font-size: 15px;
}

.collapsible {
  background-color: #e0dffd;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: none;
  text-align: center;
}

.icon {
  height: 22px;
  width: 45px;
  padding-left: 5px;
}

.icon2 {
  height: 20px;
  width: 40px;
  padding-left: 5px;
}

.heading {
  font-size: 72px;
  color: #ffffff;
  text-align: center;
  text-shadow: 4px 4px #ffc212;
  width: 100%;
  background-color: #172c49;
  padding-bottom: -1px;
  padding-top: 1px;
  border-radius: 1px;
}

.top {
  width: 100%;
  background-color: #172c49;
  text-align: center;
}

.cuisineColumns {
  display: flex;
  justify-content: space-between;
}

.leftColumnCuisine {
  width: 45%;
}
.rightColumnCuisine {
  width: 55%;
}
.dietaryColumns {
  display: flex;
}

.leftColumDietary {
  width: 43%;
  margin-right: 42px;
}

.rightColumDietary {
  width: 40%;
}
.courseColumns {
  display: flex;
}

.leftColumnCourse {
  width: 32%;
  margin-right: 42px;
}

.rightColumnCourse {
  width: 28%;
}

.catererBox {
  width: 200px;
  height: 200px;
  background-color: #f9b0c3;
  margin-bottom: 70px;
  margin-right: 70px;
}
.container {
  display: flex;
  flex-wrap: wrap;
}

.collapsible:after {
  content: ' △';
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: '▽';
}

.modetoggle::after {
  outline: white;
  position: absolute;
  top: 130px;
  right: 20px;
  content: ' ☀';
  font-size: 40px;
}

.modetoggle.dark-mode::after {
  position: absolute;
  top: 130px;
  right: 20px;
  content: ' 🌙';
}
