.title {
  color: #000000;
  font-size: 60px;

  text-align: center;
  text-decoration-color: #f7afc2;
  text-decoration: underline;
}
.VenueInformation {
  //transform: translate(10cm,-4.6cm);
  background-image: linear-gradient(to bottom, #ffbbd0, #b480e9);
  border-radius: 2vmin;
  padding: 9px;
  width: 45vw;
  height: 9vh;
  text-align: center;
}

.venue-info {
  background-color: #ffbbd0;
  padding: 9px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin: 0 0;
  border-radius: 2vmin;
  width: 45vw;
  border: none;
  cursor: pointer;
  transition-duration: 0.3s;
  //transform: translate(10cm,-3.6cm);
}
.venue-info:hover {
  filter: drop-shadow(0 0 8px rgb(180, 128, 233));
}

.iconMapLocation {
  display: flex;
  justify-content: space-around;

  //transform: translate(0.2cm, 0.2cm);
}

.buttonSetting {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border: none;
  transition-duration: 0.3s;
}

.buttonSetting:hover {
  fill: #f589a6;
  cursor: pointer;
  //transform: scale(1.1);
}

.mapLocation {
  display: flex;
  flex-direction: column;
}

.iconCookBook {
  display: flex;
  justify-content: space-around;
  //transform: translate(0.2cm, 0.2cm);
}
.cook-info {
  background-color: #ffbbd0;
  padding: 9px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin: 0 0;
  border-radius: 2vmin;
  width: 45vw;
  border: none;
  cursor: pointer;
  transition-duration: 0.3s;
}
.cook-info:hover {
  filter: drop-shadow(0 0 8px rgb(180, 128, 233));
}

.caterers {
  background-image: linear-gradient(to bottom, #ffbbd0, #b480e9);
  border-radius: 2vmin;
  padding: 9px;
  width: 45vw;
  height: 9vh;
  text-align: center;
}

.iconCamp {
  //transform: translate(0.2cm, 0.2cm);
  display: flex;
  justify-content: space-around;
}
.camp-info {
  background-color: #ffbbd0;
  padding: 9px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin: 0 0;
  border-radius: 2vmin;
  width: 45vw;
  border: none;
  cursor: pointer;
  transition-duration: 0.3s;
}
.camp-info:hover {
  filter: drop-shadow(0 0 8px rgb(180, 128, 233));
}

//.activity{
//  background-image: linear-gradient(to bottom,#FFBBD0,#B480E9);
//  border-radius: 10px;
//  padding: 9px;
//  width:45vw;
//  height: 9vh;
//  text-align: center;
//}
.activityText {
  padding: 9px;
  border-radius: 2vmin;
  width: 45vw;
  height: 9vh;
  max-height: 30vh;
  font-size: 2vw;
  box-sizing: border-box;
  resize: vertical;
  background-image: linear-gradient(to bottom, #ffbbd0, #b480e9);
  color: white;
  border-color: transparent;
  transition-duration: 0.5s;
}
