@import '~@fortawesome/fontawesome-free/css/all.css';

.heading {
  text-align: center;
  font-size: 300%;
  font-weight: bold;
  color: white;
  padding: 30px;
}

body {
  text-align: center;
  background-color: #172c49;
  border-width: 300000px;
  border-top: 30000px;
  background-size: 300%;
  height: 1000px;
}

.scrollableContainer {
  max-height: 1000px;
  overflow-y: auto;
}

.feedbacksContainer {
  position: relative;
  min-height: 300px;
  max-height: 500px;
  overflow-y: auto;
  width: 75%;
  background-color: white;
  border-radius: 45px;
  position: relative;
  margin: auto;
}

.textBox {
  text-align: right;
  padding: 10px;
  resize: vertical;
  height: 50%;
  margin-top: 30px;
  position: relative;
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #f7afc2;
  color: white;
  text-align: center;
}

.feedbackItem {
  position: absolute;
  left: 18%;
  top: 40%;
}

.feedbackInput {
  padding: 30px;
  border-radius: 45px;
  width: 75%;
  height: 100%;
  box-sizing: border-box;
  resize: vertical;
  background-color: #f7afc2;
  color: white;
  border-color: transparent;
}

.feedbackInput::placeholder {
  color: white;
  font-style: italic;
}

.feedbackInput:focus {
  border-color: #f589a8;
  border-width: 3px;
  outline: none;
}

.addFeedback {
  padding: 100px;
  text-align: center;
  margin: auto;
}

.addFeedbackButton {
  text-align: center;
  width: 12%;
  border-radius: 45px;
  margin: auto;
  background-color: #f7afc2;
  border-color: transparent;
  color: white;
  font-weight: bold;
}

.addFeedbackButton:hover {
  background-color: #f587a4;
  cursor: pointer;
}

.deleteFeedbackButton {
  position: absolute;
  top: 15%;
  right: 5%;
  cursor: pointer;
  color: white;
  font-weight: bold;
  transform: scaleX(1.3);
  border-radius: 50px;
}

.ratingContainer {
  border-radius: 45px;
  background-color: white;
  width: 75%;
  margin: 50px auto auto;
}

.rating-list li {
  color: #4b596e;
  margin: 10px 50px auto;
  font-size: 120%;
}

.rating-list li:hover,
.rating-list li:hover ~ li,
.rating-list li.selected {
  color: #f7afc2;
  cursor: pointer;
}

.rating-list {
  display: inline-block;
  list-style: none;
  font-size: 300%;
}

.submitContainer {
  margin: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.sendToUs {
  font-size: 25px;
  width: 20%;
  background-color: #f7afc2;
  border-radius: 45px;
  border-color: transparent;
  color: white;
  font-weight: bold;
  position: absolute;
}

.sendToUs:hover {
  background-color: #f587a4;
}

.iconContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 30%;
}

.iconContainer svg {
  width: 15%;
  height: 15%;
  fill: #f7afc2;
}

.iconContainer svg:hover {
  fill: #f589a6;
  cursor: pointer;
}

.iconContainer svg:focus {
  outline: none;
}
