@import '~@fortawesome/fontawesome-free/css/all.css';

::-webkit-scrollbar {
  display: none;
}

.heading {
  text-align: center;
  font-size: 300%;
  font-weight: bold;
  color: white;
  padding: 10px;
}

.hidden {
  display: none;
}

body {
  text-align: center;
  background-color: #172c49;
  border-width: 300000px;
  border-top: 30000px;
  background-size: 300%;
  min-height: 1000px;
  max-height: 2000px;
}

.scrollableContainer {
  max-height: 1000px;
  overflow-y: auto;
}

.feedbacksContainer {
  position: relative;
  min-height: 300px;
  max-height: 550px;
  overflow-y: auto;
  width: 75%;
  background-color: white;
  border-radius: 45px;
  margin: auto;
}

.textBox {
  text-align: right;
  padding: 10px;
  resize: vertical;
  height: 50%;
  margin-top: 10px;
  position: relative;
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #f7afc2;
  color: white;
  text-align: center;
}

.feedbackItem {
  position: absolute;
  left: 18%;
  top: 40%;
}

.feedbackInput {
  padding: 30px;
  border-radius: 45px;
  width: 75%;
  height: 10em;
  font-size: 1.2em;
  box-sizing: border-box;
  resize: vertical;
  background-color: #f7afc2;
  color: white;
  border-color: transparent;
  transition-duration: 0.3s;
}

.feedbackInput::placeholder {
  color: white;
  font-style: italic;
}

.feedbackInput:hover,
.fillInInput:hover {
  filter: drop-shadow(0 0 5px rgb(245, 137, 166));
}

.feedbackInput:focus,
.fillInInput:focus {
  border-color: #b78491;
  border-width: 2px;
  outline: none;
}

.addFeedback {
  padding: 60px;
  text-align: center;
  margin: auto;
  height: auto;
}

.addFeedbackButton {
  text-align: center;
  width: 7em;
  border-radius: 45px;
  background-color: #f7afc2;
  border-color: transparent;
  color: white;
  font-weight: bold;
  transition-duration: 0.3s;
}

.addFeedbackButton:hover {
  background-color: #f587a4;
  cursor: pointer;
  transform: scale(1.2);
}

.fileUpload {
  width: 1.8em;
  height: 1.8em;
  cursor: pointer;
  position: absolute;
  right: 4.5%;
  bottom: 20%;
  fill: white;
  transition-duration: 0.2s;
}

.fileUpload:hover {
  transform: scale(1.2);
}

.deleteFeedbackButton {
  font-size: 2em;
  position: absolute;
  top: 15%;
  right: 5%;
  cursor: pointer;
  color: white;
  font-weight: bold;
  rotate: 45deg;
  //transform: scaleX(1.3);
  border-radius: 50px;
  transition-duration: 0.2s;
}

.deleteFeedbackButton:hover {
  color: #ff6d6d;
  transform: scale(1.5);
  filter: drop-shadow(0 0 2px #f589a6);
}

.ratingContainer {
  border-radius: 45px;
  background-color: white;
  width: 75%;
  margin: 50px auto auto;
}

.rating-list li {
  color: #4b596e;
  margin: 10px 1em auto;
  font-size: revert;
  transition-duration: 0.2s;
}

.rating-list li:hover,
.rating-list li:hover ~ li,
.rating-list li.selected {
  color: #f7afc2;
  cursor: pointer;
  transform: scale(1.2);
}

.rating-list {
  display: inline-block;
  list-style: none;
  font-size: 300%;
}

.submitContainer {
  margin: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.back {
  font-size: 1.5em;
  width: 8em;
  background-color: #f7afc2;
  border-radius: 45px;
  border-color: transparent;
  color: white;
  font-weight: bold;
  position: absolute;
  left: 35%;
  transition-duration: 0.2s;
}

.sendToUs,
.continue {
  font-size: 1.5em;
  width: 10em;
  background-color: #f7afc2;
  border-radius: 45px;
  border-color: transparent;
  color: white;
  font-weight: bold;
  position: absolute;
  transition-duration: 0.2s;
}

.continue {
  left: 50%;
}

.sendToUs[disabled],
.continue[disabled],
.back[disabled] {
  cursor: not-allowed;
}

.sendToUs[disabled]::after {
  content: 'Please rate before sending';
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.8em;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition-duration: 0.3s;
}

.sendToUs[disabled]:hover::after,
.back[disabled]:hover::after,
.continue[disabled]:hover::after {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.continue[disabled]::after {
  content: 'No more questions';
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.8em;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition-duration: 0.3s;
}

.back[disabled]::after {
  content: 'No more questions';
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.8em;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition-duration: 0.3s;
}

.sendToUs[disabled]:hover::after,
.back[disabled]:hover::after,
.continue[disabled]:hover::after {
  display: block;
}

.sendToUs:hover,
.continue:hover,
.back:hover {
  background-color: #f587a4;
  transform: scaleX(1.05);
}

.iconContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 20%;
}

.iconContainer svg {
  width: 12%;
  height: 12%;
  fill: #f7afc2;
  position: relative;
  transition-duration: 0.3s;
}

.iconContainer svg:hover {
  fill: #f589a6;
  cursor: pointer;
  transform: scale(1.1);
}

.iconContainer svg:focus {
  outline: none;
}

.questionnaireContainer {
  position: relative;
  min-height: 600px;
  max-height: 500px;
  overflow-y: auto;
  width: 75%;
  background-color: white;
  border-radius: 45px;
  margin: auto;
}

.introTitle {
  font-weight: bold;
  font-size: 2em;
  padding: 1em;
}

.introSalutation {
  position: absolute;
  left: 10%;
  font-weight: bold;
}

.introBody {
  width: 80%;
  text-align: left;
  position: absolute;
  left: 10%;
  top: 25%;
}

.question {
  font-size: 2em;
  margin-top: 3em;
  font-weight: bold;
}

.optionLabel input[type='radio'] {
  display: none;
}

.optionLabel {
  margin-top: 2em;
}

.optionLabel input[type='radio'] + span {
  //default status
  transition-duration: 0.3s;
  font-size: 1.5em;
  display: inline-block;
  background-color: #f1bdc8;
  border-radius: 45px;
  width: 8em;
  color: white;
}

.optionLabel input[type='radio'] + span:hover {
  font-size: 2em;
}

.optionLabel input[type='radio']:checked + span {
  //after clicked
  background-color: #f589a6;
  display: inline-block;
  border-radius: 45px;
  font-weight: bold;
  width: 10em;
  transform: scaleY(1.1);
  color: white;
}

.fillInInput {
  margin-top: 5em;
  width: 50%;
  height: 15em;
  border-radius: 45px;
  padding: 2em;
  overflow-y: scroll;
  background-color: #f3bec9;
  transition-duration: 0.3s;
  border: transparent;
  color: white;
}

.fillInInput::placeholder {
  color: white;
  font-style: italic;
}

.questionNumber {
  font-size: 1.6em;
  font-weight: bold;
  color: #f7afc2;
  position: absolute;
  left: 25%;
}
