<head>
  <script src="https://kit.fontawesome.com/3543c81e40.js" crossorigin="anonymous"></script>
</head>

<div class="header">
  <h1>Favourites</h1>
  <span>See your saved faves here!</span>
</div>

<div class="WhiteBackground">
  <div class="miniHeader">
    <h4><i class="fa-solid fa-icons custom-icon"></i> Activities</h4>
  </div>
  <div class="pinkBox">
    <div class="displayAddedOptions">
      <div class="addedOption">
        <a [routerLink]="'/decorations'"
          ><img src="/content/images/itineraryImages/not-selected.jpeg" alt="DecoratorImage" style="width: 100%; cursor: pointer"
        /></a>
        <div class="optionInfo">
          <span class="mySpan">Decorator Name</span>
          <span class="myLittleSpan"><i class="fa-regular fa-clock"> : </i></span>
          <span class="myLittleSpan"><i class="fa-regular fa-money-bill-1"> : </i></span>
          <button class="remove"><i class="fa-regular fa-circle-xmark"></i></button>
        </div>
      </div>
    </div>
  </div>

  <div class="miniHeader">
    <h4><i class="fa-solid fa-utensils custom-icon"></i> Caterers</h4>
  </div>
  <div class="pinkBox">
    <div class="section"></div>
  </div>

  <div class="miniHeader">
    <h4><i class="fa-solid fa-wand-magic-sparkles custom-icon"></i> Decorators</h4>
  </div>
  <div class="pinkBox">
    <div class="section"></div>
  </div>

  <div class="miniHeader">
    <h4><i class="fa-solid fa-map-marker-alt custom-icon"></i> Venues</h4>
  </div>
  <div class="pinkBox">
    <div class="section"></div>
  </div>
</div>
