<body>
  <div class="container">
    <div class="goBack" (click)="goBack()">
      <span> < </span>
    </div>
    <div class="title">
      <span class="titleText">Venue</span>
      <div class="decoBar"></div>
    </div>
    <div class="icon-container">
      <i class="fa-solid fa-sack-dollar icon"></i>
    </div>
    <div class="bar">
      <span class="boxText"> Price: From</span><input type="text" class="inputStyle2" /> <span class="boxText">to</span
      ><input type="text" class="inputStyle2" />
    </div>
    <div class="icon-container2">
      <i class="fa-solid fa-person-shelter icon2"></i>
    </div>
    <div class="bar"><span class="boxText">Number of rooms:</span><input type="text" class="inputStyle2" /></div>
    <div class="icon-container3">
      <i class="fa-solid fa-calendar-days time"></i>
    </div>
    <div class="bar">
      <span class="boxText">Time: From</span><input type="text" class="inputStyle2" /> <span class="boxText">to</span
      ><input type="text" class="inputStyle2" />
      <div class="searchButton" (click)="searchResult()">
        <span class="search">Search</span>
      </div>
    </div>
  </div>
</body>
