<div class="top">
  <p class="heading">ACTIVITIES</p>
</div>

<body>
  <div class="formbox">
    <form id="form" role="search">
      <input
        type="search"
        id="query"
        name="q"
        placeholder="Search for an activity for your event..."
        aria-label="Search through site content"
      />
      <button class="searchiconButton">
        <span class="searchIcon"><i class="fa-solid fa-magnifying-glass"></i></span>
      </button>
    </form>
  </div>
  <div class="space"></div>
  <div class="title">
    <div class="title">
      <p class="blockTitle">Book with a company</p>
      <p class="blockExplanation">
        Here are some different activities that you can include in your event! Click on the names to see the companies that offer these
        services.
      </p>
    </div>
    <div class="positioningSection">
      <div>
        <button class="next" (click)="previousbooked()" clickable>
          <span class="icon"><i class="fa-solid fa-caret-left"></i></span>
        </button>
      </div>

      <div class="positioning">
        <div class="book">
          <div>
            <div class="bookiconssection">
              <button class="iconTextbutton" (click)="BookedActivityPage()" clickable>
                <p class="texticon">Wine Tasting {{ displayBooked1 }}</p>
              </button>
              <div class="separator"></div>
              <div class="images">
                <div class="image1"><img class="pictures" src="content/images/activitiesImages/activity1.png" /></div>
                <div class="image2"><img class="pictures" src="content/images/activitiesImages/activity2.png" /></div>
                <div class="image3"><img class="pictures" src="content/images/activitiesImages/activity3.png" /></div>
              </div>
            </div>
            <div class="bookiconssection">
              <button class="iconTextbutton" (click)="BookedActivityPage()" clickable>
                <p class="texticon">Wine Tasting {{ displayBooked2 }}</p>
              </button>
              <div class="separator"></div>
              <div class="images">
                <div class="image1"><img class="pictures" src="content/images/activitiesImages/activity4.png" /></div>
                <div class="image2"><img class="pictures" src="content/images/activitiesImages/activity5.png" /></div>
                <div class="image3"><img class="pictures" src="content/images/activitiesImages/activity6.png" /></div>
              </div>
            </div>
          </div>
          <div>
            <div class="bookiconssection">
              <button class="iconTextbutton" (click)="BookedActivityPage()" clickable>
                <p class="texticon">Wine Tasting {{ displayBooked3 }}</p>
              </button>
              <div class="separator"></div>
              <div class="images">
                <div class="image1"><img class="pictures" src="content/images/activitiesImages/activity7.png" /></div>
                <div class="image2"><img class="pictures" src="content/images/activitiesImages/activity8.png" /></div>
                <div class="image3"><img class="pictures" src="content/images/activitiesImages/activity9.png" /></div>
              </div>
            </div>
            <div class="bookiconssection">
              <button class="iconTextbutton" (click)="BookedActivityPage()" clickable>
                <p class="texticon">Wine Tasting {{ displayBooked4 }}</p>
              </button>
              <div class="separator"></div>
              <div class="images">
                <div class="image1"><img class="pictures" src="content/images/activitiesImages/activity10.png" /></div>
                <div class="image2"><img class="pictures" src="content/images/activitiesImages/activity11.png" /></div>
                <div class="image3"><img class="pictures" src="content/images/activitiesImages/activity12.png" /></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button class="next" (click)="nextbooked()" clickable>
          <span class="icon"><i class="fa-solid fa-caret-right"></i></span>
        </button>
      </div>
    </div>
  </div>

  <div class="title">
    <div class="title">
      <p class="blockTitle">Do It Yourself</p>
      <p class="blockExplanation">
        Here are some ideas of activities that you can set up yourself for your event! Click on the names to find out more.
      </p>
    </div>

    <div class="positioningSection">
      <div>
        <button class="next" (click)="previousself()" clickable>
          <span class="icon"><i class="fa-solid fa-caret-left"></i></span>
        </button>
      </div>

      <div class="positioning">
        <div class="book">
          <div>
            <div class="bookiconssection">
              <button class="iconTextbutton" (click)="selfpage()" clickable>
                <p class="texticon">Wine Tasting {{ displaySelf1 }}</p>
              </button>
              <div class="separator"></div>
              <div class="images">
                <div class="image1"><img class="pictures" src="content/images/activitiesImages/activity13.png" /></div>
                <div class="image2"><img class="pictures" src="content/images/activitiesImages/activity14.png" /></div>
                <div class="image3"><img class="pictures" src="content/images/activitiesImages/activity15.png" /></div>
              </div>
            </div>
            <div class="bookiconssection">
              <button class="iconTextbutton" (click)="selfpage()" clickable>
                <p class="texticon">Wine Tasting {{ displaySelf2 }}</p>
              </button>
              <div class="separator"></div>
              <div class="images">
                <div class="image1"><img class="pictures" src="content/images/activitiesImages/activity16.png" /></div>
                <div class="image2"><img class="pictures" src="content/images/activitiesImages/activity17.png" /></div>
                <div class="image3"><img class="pictures" src="content/images/activitiesImages/activity18.png" /></div>
              </div>
            </div>
          </div>
          <div>
            <div class="bookiconssection">
              <button class="iconTextbutton" (click)="selfpage()" clickable>
                <p class="texticon">Wine Tasting {{ displaySelf3 }}</p>
              </button>
              <div class="separator"></div>
              <div class="images">
                <div class="image1"><img class="pictures" src="content/images/activitiesImages/activity19.png" /></div>
                <div class="image2"><img class="pictures" src="content/images/activitiesImages/activity20.png" /></div>
                <div class="image3"><img class="pictures" src="content/images/activitiesImages/activity21.png" /></div>
              </div>
            </div>
            <div class="bookiconssection">
              <button class="iconTextbutton" (click)="selfpage()" clickable>
                <p class="texticon">Wine Tasting {{ displaySelf4 }}</p>
              </button>
              <div class="separator"></div>
              <div class="images">
                <div class="image1"><img class="pictures" src="content/images/activitiesImages/activity22.png" /></div>
                <div class="image2"><img class="pictures" src="content/images/activitiesImages/activity23.png" /></div>
                <div class="image3"><img class="pictures" src="content/images/activitiesImages/activity24.png" /></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <button class="next" (click)="nextself()" clickable>
          <span class="icon"><i class="fa-solid fa-caret-right"></i></span>
        </button>
      </div>
    </div>
  </div>
</body>
