<div class="top">
  <p class="heading">ACTIVITIES</p>
</div>

<body>
  <div class="title">
    <div class="title">
      <p class="blockTitle">Book with a company</p>
      <p class="blockExplanation">Here are some different activities and companies that offer these services for your event!</p>
    </div>

    <div class="book">
      <div class="bookiconssection">
        <button class="bookbutton" (click)="bookpage()" clickable>
          <img class="iconimages" src="/content/images/activitiesImages/wine.png" />
        </button>
        <p class="icontext">Wine Tasting</p>
      </div>
      <div class="bookiconssection">
        <button class="bookbutton" (click)="bookpage()" clickable>
          <img class="iconimages" src="/content/images/activitiesImages/wine.png" />
        </button>
        <p class="icontext">Live Music</p>
      </div>
      <div class="bookiconssection">
        <button class="bookbutton" (click)="bookpage()" clickable>
          <img class="iconimages" src="/content/images/activitiesImages/wine.png" />
        </button>
        <p class="icontext">Zip line</p>
      </div>
      <div class="bookiconssection">
        <button class="bookbutton" (click)="bookpage()" clickable>
          <img class="iconimages" src="/content/images/activitiesImages/wine.png" />
        </button>
        <p class="icontext">Abseiling</p>
      </div>
    </div>
  </div>
</body>
