body {
  background-color: #ffffff;
}
.top {
  width: 100%;
  background-color: #172c49;
  text-align: center;
}

.heading {
  font-size: 72px;
  color: #ffffff;
  text-align: center;
  text-shadow: 4px 4px #ffc212;
}

.blockTitle {
  font-size: 40px;
  left: 10px;
}

.blockExplanation {
  font-size: 18px;
  left: 10px;
}

.title {
  background: #ffffff;
  width: 100%;
  position: relative;
}

.positioning {
  position: relative;
  height: 725px;
  display: inline-block;
}

.pictures {
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

.positioningSection {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.book {
  width: 100%;
  position: relative;
  display: inline-flex;
}

.icon {
  color: #f9b0c3;
  font-size: 40px;
}
.searchiconButton {
  border: none;
  outline: none !important;
  background-color: #e0dffd;
}
.searchIcon {
  color: #f9b0c3;
  font-size: 20px;
}

.next {
  height: 60px;
  width: 60px;
  border-radius: 5000px;
  border: solid 6px #f9b0c3;
  background-color: #ffffff;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

form {
  background-color: #e0dffd;
  width: 100%;
  height: 44px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.formbox {
  position: relative;
  margin: auto;
  align-items: center;
}

.space {
  height: 50px;
}

input {
  all: unset;
  font: 16px system-ui;
  color: #ffffff;
  height: 100%;
  width: 95%;
  padding: 6px 10px;
}

.bookiconssection {
  width: 425px;
  height: 275px;
  background-color: #f9b0c3;
  border-radius: 8px;
  text-align: center;
  margin: 3em;
  display: in-line block;
  align-items: center;
}

.iconTextbutton {
  width: 375px;
  display: inline;
  height: 125px;
  border-radius: 8px;
  background-color: #e0dffd;
  box-shadow: 10px 10px #ffc212;
  margin: 0.5em;
  border: none;
  outline: none !important;
  align-items: center;
}

.texticon {
  font-size: 43px;
  font-weight: 700;
  color: #7769c6;
  text-shadow: 3px 3px #172c49;
}

.selfbutton {
  width: 200px;
  display: inline;
  height: 200px;
  border-radius: 8px;
  box-shadow: 15px 10px #ffc212;
  margin: 1em;
}

.images {
  width: 100%;
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
}

.separator {
  height: 15px;
}

.image1 {
  height: 100px;
  width: 100px;
  background-color: #ffffff;
  display: in-line block;
  margin: auto;
  border-radius: 10px;
}

.image2 {
  height: 100px;
  width: 100px;
  background-color: #ffffff;
  display: in-line block;
  margin: auto;
  border-radius: 10px;
}

.image3 {
  height: 100px;
  width: 100px;
  background-color: #ffffff;
  display: in-line block;
  margin: auto;
  border-radius: 10px;
}

.modetoggle::after {
  outline: white;
  position: absolute;
  top: 190px;
  right: 20px;
  content: ' ☀';
  font-size: 40px;
}

.modetoggle.dark-mode::after {
  position: absolute;
  top: 190px;
  right: 20px;
  content: ' 🌙';
}

.dark-mode {
  color: white;
  background-color: black !important;
}
