.top {
  width: 100%;
  background-color: #172c49;
  text-align: center;
}

.heading {
  font-size: 72px;
  color: #ffffff;
  text-align: center;
  text-shadow: 4px 4px #ffc212;
}

.blockTitle {
  font-size: 32px;
  left: 10px;
}

.blockExplanation {
  font-size: 12px;
  left: 10px;
}

.book {
  width: 100%;
  background-color: #ffffff;
}

.bookiconssection {
  width: 100%;
}
